* {
	margin: 0;
	padding: 0;
}
body {
	font-family: helvetica;
	background: #e3e3e3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f3f3f3;
	box-shadow: 0px 3px 6px grey;
}
canvas {
	outline: 1px solid;
	background: black;
}
.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup {
    position: absolute;
    display: flex;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding: 2% 5%;
    transition: all 0.3s ease-out;
}
.close-btn {
    font-size: 30px;
    padding: 3px 12px;
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid red;
    color: red;
}
.close-btn:hover {
    background:red;
    color: white;
}
.close-btn:active {
    color: black;
}
.controls-popup {
    flex-direction: column;
    width: 500px;
    height: 450px;
    background: #fafafa;
}
.controls-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    margin: 10px;
}
.control-label {
    display: flex;
    justify-content: flex-end;
    width: 100px;    
    padding-right: 20px;
    box-sizing: border-box;
}
.control-input {
    display: flex;
    padding: 8px 0px;
    background: #ddd;
    width: 60px;
    justify-content: center;
    cursor: pointer;
}
.control-input:hover {
    background: #bbb;
}
.control-input:active {
    background: #e5e5e5;
}
.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls-get-input {
    display: flex;
    align-items: center;
    background: white;
    padding: 16px;
    height: 32px;
}
.visible {
    opacity: 1;
    pointer-events: all;
}
.controls-popup.invisible {
    transform: translateX(-100vw);
}
.invisible {
    opacity: 0;
    pointer-events: none;
}
.level-up-popup {
    flex-direction: column;
    width: 700px;
    height: 500px;
    background: #fafafa;
}
.level-up-popup.invisible {
    transform: translateY(-100vh);
}
.level-up-choices {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid;
    overflow-y: auto;
}
.upgrade-choice {
    display: flex;
    padding: 32px 16px;
    outline: 1px solid;
    margin: 10px 0;
    background: white;
    cursor: pointer;
    align-items: center;
}
.upgrade-choice:hover {
    background: #333;
    color: white;
}
.upgrade-choice:active {
    background: #aaa;
}
.shop-popup {
    background: #fafafa;
}
.shop-header {
    display: flex;
    justify-content: space-between;
}
.shop-choices {
    display: flex;
    flex-direction: column;
    outline: 1px solid;
    padding: 16px;
    box-sizing: border-box;
}
.item-choice {
    display: flex;
    flex-direction: column;
    outline: 1px solid;
    padding: 8px;
    margin: 10px 0px;
    cursor: pointer;
}
.item-choice:hover {
    background: #333;
    color: white;
}
.item-choice:active {
    background: #aaa;
}
.game-over-screen {
    transition: all 2.5s cubic-bezier(0.11, 0.64, 0.39, 1);
}